.open {
    display: flex !important;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f7f4f0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__company-logo {
    max-width: 150px;
    max-height: 200px;
}

.header__navigation-menu {
    margin-left: auto;
}

.header__navigation-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__navigation-link-item {
    display: inline-block;
    margin-right: 15px;
    padding: 0 20px 0 20px;
    font-family: 'Lemon', serif;
    font-size: 20px;
}

.header__navigation-link {
    transition: color 0.35s ease-in;
    text-decoration: none;
}

.header__navigation-link:hover {
    color: #ff6600;
    text-decoration: none;
}

.header__navigation-link a {
    text-decoration: none;
    color: #333;
}

.header__social-medias {
    display: flex;
    justify-content: space-around;
}

.social-medias__icon {
    max-width: 50px;
    max-height: 50px;
    padding: 0 10px 0 0;
}

