<section class="features">
    <div class="features__box container">
        <div class="features_wrapper">
            <h2 class="features__header">Микитинецькі ковбаси це -</h2>
            <div class="features__features-container container">
                <div class="features-container__feature">
                    <h3 class="feature__header">Традиційне копчення</h3>
                    <p class="feature__description">Ми бережемо звичаї наших прадідів та прабабусь та створюємо
                        продукцію за
                        їх
                        унікальними рецептурами.
                        Маринуємо балики, шинки, підчеревину вручну, готуємо ковбаси та вудимо їх у дровʼяних коптильних
                        камерах.</p>
                </div>
                <div class="features-container__feature">
                    <h3 class="feature__header">Власне виробництво</h3>
                    <p class="feature__description">Ми контролюємо весь процес виготовлення продукції: від отримання
                        сировини до
                        моменту, коли виріб опиняється у ваших руках. Сучасне обладнання та висока організація роботи
                        допомагає
                        підтримувати високу якість, а професійна команда – надихає на нові звершення.</p>
                </div>
                <div class="features-container__feature">
                    <h3 class="feature__header">Велика&nbsp;мережа&nbsp;власних&nbsp;магазинів</h3>
                    <p class="feature__description">Ми хочемо, щоб поблизу вашого дому було все необхідне для
                        приготування
                        смачної їжі. Тому розвиваємо мережу фірмових крамниць, де завжди можна купити свіже мʼясо та
                        мʼясні
                        вироби, овочі, фермерські сири та випічку.</p>
                </div>
            </div>
        </div>
    </div>
</section>