<section class="find-shops ">
    <div class="find-shops__container container">
        <h2 class="find-shops__header">Шукайте наші фірмові магазини поблизу</h2>
        <p class="find-shops__paragraph">Мережа фірмових магазинів від ТМ «Микитинецькі ковбаси»</p>
        <div class="find-shops__link-container">
            <a href="#" class="find-shops__reference-shop-list">Знайти магазини поруч </a>
            <img src="../images/right-arrow.png" alt="right arrow image" class="find-shops__right-arrow">
        </div>
    </div>
</section>