<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4><a class="cta-href" href="find-us.html">Знайдіть нас</a></h4>
                            <span class="cta-description">1010 Avenue, sw 54321, chandigarh</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Наберіть нам</h4>
                            <span class="cta-description">+380987654321</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Напишіть нам</h4>
                            <span class="cta-description">mail@info.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="images/logo.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                        </div>
                        
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget footer-info-below">
                        <div class="footer-widget-heading">
                            <h3>Навігація по сайту</h3>
                        </div>
                        <ul>
                            <li><a href="index.html">Головна</a></li>
                            <li><a href="find-us.html">Знайти нас</a></li>
                            <li><a href="production.html">Продукція</a></li>
                            <li><a href="vacancies.html">Вакансії</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget footer-info-below">
                        <div class="footer-widget-heading">
                            <h3>Розробник</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Спеціальне замовлення для ТМ "Микитинецькі ковбаси". Зв'язатися: ssigilstopa@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</footer>