<header>
    <div class="header-main container">
        <div class="header__logo-container">
            <img class="header__logo-image" src="images/logo.png" alt="logo image">
        </div>

        <div class="header__navigation-bar">
            <nav class="navigation-bar__nav">
                <a class="nav__link" href="#">Компанія</a>
                <a class="nav__link" href="#">Продукція</a>
                <a class="nav__link" href="#">Магазини</a>
                <a class="nav__link" href="#">Співпраця</a>
                <a class="nav__link" href="#">Контакти</a>
                <a class="nav__link" href="#">Вакансії</a>
                <p class="nav__phone-number">+38 (000) 000-00-00</p>
                <p class="nav__email">example@gmail.com</p>
                <button class="nav__facebook-link">
                    <img class="nav__social-media-image" src="images/facebook-logo.png" alt="facebook logo link">
                </button>
                <button class="nav__instagram-link">
                    <img class="nav__social-media-image" src="images/instagram-logo.jpg" alt="instagram logo link">
                </button>
            </nav>
        </div>
    </div>
</header>