<section class="news">
    <div class="news__container container">
        <h2 class="news__header">Останні новини</h2>
        <div class="news__news-container">
            <div class="news__piece-of-info">
                <div class="piece-of-info__data">| 12 січня 2024</div>
                <h3 class="piece-of-info__header">«Маленькі донати рятують країну»</h3>
                <p class="piece-of-info__description">Купуючи найпопулярніші дві позиції - «Стейк з полядвиці 7 трав» та
                    "Ковбаски з м'яса індика" ви допомагаєте Збройним Силам України.</p>
            </div>
            <div class="news__piece-of-info">
                <div class="piece-of-info__data">| 10 січня 2024</div>
                <h3 class="piece-of-info__header">Зберігаємо спокій і продовжуємо працювати</h3>
                <p class="piece-of-info__description">Продовжуємо працювати щодня. Виробляємо та доставляємо нашу
                    продукцію,
                    щоб забезпечувати вас свіжим мʼясом та ковбасними виробами.</p>
            </div>
        </div>
    </div>
</section>