.hero {
    width: 100%;
    background-image: url('../../images/main.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 25px 25px 25px;
}

.hero__text-container {
    min-height: 44vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__wrapper {
    margin-top: -100%;
    opacity: 0;
    animation: slideDown 2s ease-in-out forwards;
}

@keyframes slideDown {
    to {
      margin-top: 0;
      opacity: 1;
    }
}

.hero__description {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Lemon', serif;
    padding: 0 0 10px 0;
}

.hero__paragraph {
    display: none;
}


@media (min-width: 600px) {
    .hero__text-container {
        min-height: 68vh;
    }

    .hero__description {
        font-size: 48px;
    }
}

@media (min-width: 768px) {
    .hero__text-container {
        min-height: 100vh;
    }

    .hero__description {
        font-size: 56px;
    }

    .hero__paragraph {
        color: #FFFFFF;
        font-size: 22px;
        font-family: 'Lemon', serif;
        max-width: 780px;
        display: flex;
    }
}

@media (min-width: 992px) {
    .hero__description {
        font-size: 64px;
    }
}