<section class="find-us">
    <div class="find-us__container container">
        <h1 class="find-us__title">Знайдіть нас в місті Івано-Франківськ</h1>
        <p class="find-us__description">Наша мережа магазинів розташована по всьому місті Івано-Франківськ, для
            зручності наших клієнтів! Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus earum placeat dicta tempore perspiciatis vel aspernatur explicabo temporibus excepturi asperiores.</p>
        <ul class="find-us__addresses">
            <li class="find-us__address">с. Микитинці вул. Юності, 1</li>
            <li class="find-us__address">вулиця Тичини, 10</li>
            <li class="find-us__address">вулиця Гетьмана Мазепи, 48</li>
            <li class="find-us__address">вулиця Пасічна, 15а</li>
            <li class="find-us__address">вулиця Коновальця, 100 (Магазин "Торба")</li>
            <li class="find-us__address">вулиця Максимовича, 15 (Магазин "Торба")</li>
            <li class="find-us__address">площа Європейська, 1</li>
            <li class="find-us__address">вулиця Залізнична, 47</li>
            <li class="find-us__address">вулиця Галицька, 56</li>
        </ul>
        <div class="find-us__map-container">
            <iframe class="find-us__map" src="https://www.google.com/maps/d/u/0/embed?mid=1wXBM-6hk9zaV36bhCk4-wOg8xO8lQ0w&ehbc=2E312F"></iframe>
        </div>
        <p class="find-us__end-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia officiis
            incidunt cum distinctio eveniet. Ratione voluptas, voluptate id suscipit iusto tempore impedit doloribus
            qui? Quo iure perferendis provident! Nostrum, veniam.</p>
    </div>
</section>