<section class="find-us">
    <div class="find-us__container container">
        <h1 class="find-us__title">Знайдіть нас у місті Івано-Франківськ!</h1>
        <p class="find-us__description">Наша мережа магазинів розташована по всьому місту Івано-Франківськ, для
            зручності наших клієнтів! І ми завжди раді бачити вас у будь-якому з наших магазинів, де ви завжди побачите
            найрізноманітніший асортимент найсвіжішої продукції, де вас завжди зустрінуть привітливі продавці, які
            завжди раді допомгти з вибором продукції кожному нашому гостю! Завжди чекаємо як постійних так і клієнтів,
            які вирішили завітати до нас вперше</p>
        <hr>
        <h2 class="find-us__list-header">Де саме розташовані наші магазини?</h2>
        <p class="find-us__list-description">Знайдіть наші магазини за наступними адресами:</p>
        <hr>
        <div class="find-us__addresses">
            <div class="find-us__address">с. Микитинці, вул. Юності, 1</div>
            <div class="find-us__address">вулиця Тичини, 10</div>
            <div class="find-us__address">вулиця Гетьмана Мазепи, 48</div>
            <div class="find-us__address">вулиця Пасічна, 15а</div>
            <div class="find-us__address">вулиця Коновальця, 100 (Магазин "Торба")</div>
            <div class="find-us__address">вулиця Максимовича, 15 (Магазин "Торба")</div>
            <div class="find-us__address">площа Європейська, 1</div>
            <div class="find-us__address">вулиця Залізнична, 47</div>
            <div class="find-us__address">вулиця Галицька, 56</div>
        </div>
        <hr>
        <h2 class="find-us__map-header">Знайдіть зручний для себе магазин на мапі</h2>
        <div class="find-us__map-container">
            <iframe class="find-us__map" src="https://www.google.com/maps/d/u/0/embed?mid=1wXBM-6hk9zaV36bhCk4-wOg8xO8lQ0w&ehbc=2E312F&noprof=1"></iframe>
        </div>
        <hr>
        <p class="find-us__end-paragraph">Микитинецькі ковбаси завжди стараються робити все для зручності клієнтів. Це
            можна побачити у розташуванні наших фірмових магазинів. Ми завжди стараємося відкривати нові магазини, щоб
            вам не прийшлося іти через все місто до місця купівлі ваших улюблених ковбасок. Чекаємо на вас!</p>
    </div>
</section>