.production__card-list{
    background-color: #ffffff;
    padding: 90px 0 0 0;
}

.production__title {
    padding: 10px 0 0 0;
    text-align: center;
}

.production__cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0 30px 20px;
}

.production__card {
    flex: 0 0 calc(50% - 20px);
    min-width: calc(50% - 20px);
    background-size: cover;
    min-height: 150px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.production__card:hover {
    transform: scale(1.05);
}

.production__card-title {
    font-size: 18px;
}

.production__card-title {
    margin: 10px;
    color: #000000b9;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

@media (min-width: 400px) {
    .production__card {
        min-height: 200px;
    }

    .production__card-title {
        font-size: 20px;
    }
}


@media (min-width: 778px) {
    .production__card-title {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    .production__card {
        flex: 0 0 calc(33% - 20px);
        min-width: calc(33% - 20px);
    }
    
    .production__card-title {
        font-size: 28px;
    }
}