.production {
  background-color: #f3f1f1;
}

.production__title {
  padding: 10px 0 0 0;
}

.production__card-link {
  min-width: calc(33.333% - 20px);
  text-decoration: none;
}

.production__card-link:hover {
  text-decoration: none;
}

.production__categories-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px 0 30px 0;
}

.production__card-link {
  max-width: calc(33.333% - 20px);
}

.production__category-card {
  flex: 0 0 calc(33.333% - 20px);
  background-size: cover;
  min-height: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.production__category-card:hover {
  transform: scale(0.95);
}

.production__category-title {
  margin: 10px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}