<section class="find-production">
    <div class="find-production__container container">
        <div class="find-production__heading-descrition">
            <h2 class="find-production__header">Ознайомтесь з асоритментом</h2>
            <p class="find-production__description">Ми постарились врахувати смак кожного, і ми впевнені, що ти
                обов'язково
                знайдеш щось смачненьке для себе.</p>
        </div>
        <div class="find-production__example"></div>
        <div class="find-production__more-button-container">
            <a href="production.html" class="find-production__href">Подивитися більше</a>
        </div>
    </div>
</section>