<section class="hero">
    <div class="hero__text-container container">
        <div class="hero__wrapper">
            <h1 class="hero__title">Смак традицій у кожному досконалому шматочку</h1>
            <p class="hero__description">ТМ Микитинецькі Ковбаси — це гармонія добірних натуральних інгредієнтів, унікальних рецептур
                та перевірених часом традицій. Ми з душею підходимо до своєї справи, прагнучи передати тепло
                і турботу кожному, хто обирає нас.</p>
        </div>
    </div>
</section>