<section class="hero">
    <div class="hero__text-container container">
        <div class="hero__wrapper">
            <h1 class="hero__title">Смак, що заворожує, наповнює кожну мить досконалістю та створює незабутні враження.</h1>
            <p class="hero__description">ТМ Микитинецькі Ковбаси — це мистецтво створення смаку, що захоплює. Ми обираємо лише найкращі інгредієнти, використовуємо оригінальні рецепти та вкладаємо серце у кожен продукт, щоб дарувати вам незабутні моменти задоволення.</p>
        </div>
    </div>
</section>
