.vacancy {
    background-color: var(--vacancies-background-color);
    padding: 10px 0 40px 0;
}

.vacnacy__container {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.vacancy__card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: #ffffff;
    border-radius: 10px;
}

.vacancy__card-title {
    padding: 20px 0 0 40px;
}

.vacancy__card-description {
    padding: 10px 20px 0 35px;
}

.vacancy__lists-header {
    padding: 0 0 0 50px;
}

.vacancy__card-list {
    position: relative;
    padding: 10px 0 4px 50px;
    margin-left: 40px;
    list-style-image: url('../../images/list-item.svg');
}

.vacancy__card-list-item {
    padding: 0 0 7px 0;
}