<section class="hero">
    <div class="vacancies-hero container">
        <h1 class="vacancies-hero__title">Знайдіть вакансію, що вам підійде!</h1>
        <p class="vacancies-hero__description">Ми завжди раді бачити нових людей у нашому колективі, ТМ "Микитинецькі
            ковбаси" пропонує вигідні умови праці, про які ви можете почитати нижче. Для зв'язку на рахунок цікавої вам
            вакансії зверніться по наступному номеру телефону: 0 (67) 344 47 15. Там вас проінформує наш менеджер про
            наступні наші з вами кроки до співпраці.</p>
    </div>
</section>